@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
  background: #f5f7fb;
  font-family: Lato;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
.text-primary {
  color: #29f0b4 !important;
}
.headerbg {
  background: url(https://stackblitz.com/files/react-z9bwih/github/mowise/mw-ghubsearch/master/src/githubsearc-bg.jpg);
  background-size: cover;
}
.next-link a,
.prev-link a {
  border: 2px solid #29f0b4;
  border-radius: 0 !important;
  background: #29f0b4;
  color: #000000;
  cursor: pointer;
}
.next-link a:hover,
.prev-link a:hover {
  border-radius: 0;
  background: #b428f0;
  border: 2px solid #b428f0;
  color: #ffffff;
  cursor: pointer;
}
.current-page {
  border: 2px solid #b428f0;
  border-radius: 0 !important;
  background: #b428f0;
  color: #ffffff;
}
.current-page:hover {
  border: 2px solid #b428f0;
  background: #ffffff;
  color: #000000;
}
.card {
  border: 2px solid #b428f0;
}
.card-title a {
  text-decoration: none;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
.searchallusers input {
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-clip: padding-box;
  border-color: #29f0b4;
  font-weight: 700;
  border-width: 3px;
  border-radius: 0;
}
.searchallusers .btn {
  background: #29f0b4;
  border-color: #29f0b4;
  font-weight: 700;
  border-width: 3px;
  border-radius: 0;
  color: #000000;
}
